<div class="diseases card">
  <div class="diseases__header card-header">
    <div>
      ICD-11
    </div>
    <div class="btn btn-primary" (click)="selectRootNode()">Jump to Root</div>
  </div>
  <div class="diseases__body card-body">
    <svg id="partitionSVG" viewBox="0 0 1000 1000" class="diseases__chart"></svg>
  </div>
  <div id="diseases__tooltip">
  </div>
</div>