body {
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

text {
  font: 10px sans-serif;
  text-anchor: middle;
}

#diseases__tooltip {
  visibility: hidden;
  position: absolute;
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px black;
  font-weight: 500;
  max-width: 300px;
  z-index: 2;
}

.diseases {
  height: 100%;
  box-shadow: 0 1px 4px 0 rgba(45, 64, 89, 0.15);
  border: none;
}

.diseases__header {
  background-color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diseases__body {
  display: flex;
}