.panel {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-row-gap: 32px;
  grid-template-rows: calc(80% - 16px) calc(20% - 16px);
  padding: 32px;
  background-color: #F1F2F4;
}