<div class="panel">
  <app-diseases
    class="panel__diseases"
    (selectDisease)="selectDisease($event)"
    style="height: 100%;"
  >
  </app-diseases>
  <app-disease-info [diseaseName]="selectedDisease?.name" height="100%">
  </app-disease-info>
</div>